:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #4e4848;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  background-color: #dbe1e5;
  margin: 3px;
  border: 2px solid #d9d7d7;
  padding: 80px;
  height: 100%;
}

.App {
  text-align: center;
  margin-top: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}






/* navigation */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #efeeee
}


input[type="search"] {
  padding: 10px;
  border: 1px solid #757272;
  border-radius: 4px;
  width: 500px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #363737;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logo {
  margin-left: 10px;
  height: 90px;
  width: 90px;
}
